{
  "plugins": [
    "add-module-exports"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": 6
        },
        "useBuiltIns": "entry",
        "corejs": 2
      }
    ]
  ]
}
