{
  "env":{
    "node": true,
    "amd": true
  },
  "rules":{
    "camelcase": 2,
    "eol-last": 2,
    "no-trailing-spaces": 1,
    "quotes": [1, "single", "avoid-escape"],
    "strict": [2, "global"]
  }
}