{
  "parser": "babel-eslint",
  "extends": "rizowski",
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "brace-style": "error",
    "comma-dangle": "error",
    "keyword-spacing": "error",
    "quotes": ["error", "single"],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "space-infix-ops": "error"
  }
}
