language: node_js
node_js:
  - "0.12"
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/1a3abfea075b30b06307
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
before_install:
  - npm install -g mocha
script:
  - npm run ci
