# AppVeyor file
# http://www.appveyor.com/docs/appveyor-yml

version: "{build}"
environment:
  matrix:
    - nodejs_version: 4
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
build: off
test_script:
  - npm test
matrix:
  fast_finish: true
